<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets\photo.JPG"></ion-img>
      <ion-card-title> Shrijeet Yeole</ion-card-title>
      <ion-card-subtitle>FY MCA</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Passionate learner, self-motivated and hardworking postgraduate seeking opportunity to work in a challenging
      environment to find solutions utilizing interpersonal skills.
    </ion-card-content>
  </ion-card>
  <div class="edu">
    <h3>Education</h3>
    <h5>Bachelor's of Computer Science</h5>
    <p> Shri Shivaji Science College Amravati</p>
    <h5>HSC</h5>
    <p>Mauli Jr College,Akola
    </p>
    <h5>SSC</h5>
    <p>Sitabai Sangai Highschool,Anjangaon Surji
    </p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Project</ion-card-title>
      <ion-card-subtitle>Fun Run(Single Player Game)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      It is a single player fun running game.Developed in C++ and Unity using Data
      Structures
    </ion-card-content>
  </ion-card>
  <ion-list [inset]="true">
    <h1>Technical Skills</h1>
    <ion-item>
      <ion-label>C++</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Angular</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>JAVA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Python</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>MYSQL</ion-label>
    </ion-item>
  </ion-list>
  <ion-button fill="outline">Contact</ion-button>
</ion-content>